<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="new"><br>
        <h2 id="n1" style="text-decoration: underline; text-decoration-color: rgb(245, 41, 54);">New Post</h2>
        <form method="post" action="/posts"> <br>
        <input type="text" name="username" placeholder="enter username"> <br> <br>
        <textarea rows="20" cols="50" name="content" id="" placeholder="enter content"></textarea> <br> 
        <button>Submit</button>
    </form>
    </div>
    
</body>
</html>